=f.text_field 'What level is the item currently?', :level, :value => 200, :label_class => 'inprogress'
=f.text_field "What's the last floor you finished?", :floor, :value => 100, :label_class => 'inprogress'
