<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
%html
  %head
    =javascript_include_tag :defaults
    =stylesheet_link_tag 'disgaea2item.css'
    =stylesheet_link_tag 'colors-disgaea2item'
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title Disgaea 2 Item Calculator
  %body
    #content
      .mainheading
        %h1= h(@heading)
      .content_body
        =yield :layout
        %p
          =link_to('Go back to item listing', root_path) unless current_page? root_url
      .content_bottom
